<?xml version="1.0"?>
<launch>

	<include file="$(find mavros)/launch/px4.launch">
	</include>

	<!--include file="$(find px4flow)/launch/px4flow.launch">
	</include-->

        <node name="sonar" pkg="maxbot_diptera" type="sonarNodeultrafast.py" ></node>

        <node name="laser_scan_obstacle_finder" pkg="commanding_node" type="Diptera_lidar.py" ></node>

        <!--node name="" pkg="" type="" />
        <node name="" pkg="" type="" /-->


</launch>
