<?xml version="1.0"?>
<robot
  name="quadrotor"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--xacro:include filename="$(find AdvanDiptera_sensors_discription)/urdf/sonar_sensor.urdf.xacro" />
  <xacro:property name="pi" value="3.1415926535897931" />

  < Main quadrotor link -->
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
		<mesh filename="file:///home/ubuntu/AdvanDiptera/src/AdvanDiptera_discription/meshes/hexa/advandiptera.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file:///home/ubuntu/AdvanDiptera/src/AdvanDiptera_discription/meshes/hexa/advandiptera.stl"/>
        </geometry>
      </collision>
    </link>

    <!-- Sonar height sensor -->
    <!--xacro:sonar_sensor name="sonarD" parent="base_link" ros_topic="/sonarTP_D
" update_rate="10" min_range="0.03" max_range="3.0" field_of_view="${40*pi/180}" ray_count="3">
      <origin xyz="-0.05 -0.01 0.09" rpy="0 ${90*pi/180} 0"/>
    </xacro:sonar_sensor>

  <xacro:sonar_sensor name="sonarF" parent="base_link" ros_topic="/sonarTP_F
" update_rate="10" min_range="0.03" max_range="3.0" field_of_view="${40*pi/180}" ray_count="3">
      <origin xyz="-0.3 0.0 0.09" rpy="0 ${pi/180} ${pi}"/>
    </xacro:sonar_sensor>

  <xacro:sonar_sensor name="sonarL" parent="base_link" ros_topic="/sonarTP_L
" update_rate="10" min_range="0.03" max_range="3.0" field_of_view="${40*pi/180}" ray_count="3">
      <origin xyz="-0.06 -0.3 0.09" rpy="0 ${pi/180} ${270*pi/180}"/>
    </xacro:sonar_sensor>

  <xacro:sonar_sensor name="sonarR" parent="base_link" ros_topic="/sonarTP_R
" update_rate="10" min_range="0.03" max_range="3.0" field_of_view="${40*pi/180}" ray_count="3">
      <origin xyz="-0.06 0.3 0.09" rpy="0 ${pi/180} ${90*pi/180}"/>
    </xacro:sonar_sensor>

  <xacro:sonar_sensor name="sonarB" parent="base_link" ros_topic="/sonarTP_B
" update_rate="10" min_range="0.03" max_range="3.0" field_of_view="${40*pi/180}" ray_count="3">
      <origin xyz="0.2 0.0 0.09" rpy="0 ${pi/180} ${pi/180}"/>
    </xacro:sonar_sensor-->


</robot>
